.navbar{
    background-color: rgb(10, 65, 62);
    padding: 0, 5px;
    width: 50%;
    height: 60px;
    
    

  }

 
  
  ul {
    padding: 2, 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 5px ;
    margin-bottom: 20px;
    justify-content: left;
  }
  

  .navlink a:hover {
    color: #fff;
  }
  .navlink a:active,
  .navlink a.active {
    color: red;
  }


  
  nav a {
    display: inline-block;
    background-color: aqua;
    box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(15, 46, 8);
    border: 2px solid rgb(3, 192, 176);
    transition: 0.1s;
  }
  nav a:hover {
    background-color: rgb(3, 192, 176);
  }
 